/* Variables */
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);

    --font-wt-regular: 400;
    --font-wt-bold: 700;
  }

*{
    margin: 0;
    padding: 0;
  }
/* Body */
  body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card{
    background-color: var(--color-white);
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.2);
    border-radius: 0.625rem;
    max-width: 17rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
img{
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 0.625rem;
  }
p {
    font-size: 1em;
    font-weight: var(--font-wt-regular);
    font-family: 'Outfit', sans-serif;
    color: var(--color-grayish-blue);
    text-align: center;
  }
 h2{
    font-size: 1.75em;
    font-family: 'Outfit', sans-serif;
    font-weight: var(--font-wt-bold);
    color: var(--color-dark-blue);
    text-align: center;
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }